@import "tailwindcss";
@import "./variables.css";

body {
  background-color: var(--default-dark);
  color: var(--daly-white);
  -webkit-font-smoothing: antialiased;
}

.light {
  background-color: var(--daly-white);
  color: var(--default-dark);
}
